* {
  font-family:Arial;
}

@media only screen and (max-width: 1090px) {
  .paragraph {
    color:rgba(24, 24, 24, 0.801);
    text-align: left;
    padding-right: 60%;
    padding-left: 5px;
  }
}

@media only screen and (min-width: 1090px) {
  .paragraph {
    color:rgba(24, 24, 24, 0.801);
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-size: 20pt;
  }
}


.selector-for-some-widget {
  box-sizing: content-box;
}

html, body {
  margin: 0;
  padding: 0;
}

/* Menu */
.page {
height: 1200px;
background-image: url(clouds.jpeg);
background-size: cover;
background-position:top;
}

.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  font-size: 2rem;
  display: inline-block;
  padding: .5em;
  color: rgba(22, 22, 22, 0.527);
  text-decoration: none;
}

.main-nav {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
}

.main-nav li {
  padding: 0 5%;
}

.nav a:hover {
  background-color: rgba(49, 190, 209, 0.3)
}

.header {
  color:rgba(17, 54, 22, 0.726);
  font-size: 30pt;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content:center;
  align-items:flex-end;
  color: aquamarine;
  background-color: #D6E9FE;
  height: 50px;
}

.image{
  display: flex;
  width: 100%;
}

