.selector-for-some-widget {
  box-sizing: content-box;
}

/* Menu */
.bg-dark {
  background-color: #7DD3D8 !important;
}
.header-container {
  color: #7cc1ca;
  background-color: #9ed3e0;
  display: flex;
  justify-content: center;
}

.header {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content:center;
  align-items:flex-end;
  color: aquamarine;
  background-color: #D6E9FE;
  height: 200px;
}

.image{
  display: flex;
  width: 100%;
}

.paragraph{
  text-align: center;
  font-size: 24pt;
}

@media only screen and (min-width: 961px) {
  .paragraph{
    padding-left: 4in;
    padding-right: 4in;
  }
}