/* Image Grid */
.portfolio {
  display: grid;
  grid-template: auto auto auto auto auto / 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.image img {
  width: 100%;
}

.page {
  align-items: center;
  justify-content: center;
}

.paragraph{
  text-align: center;
  font-size: 24pt;
}

.profilepic img {
  height: 90 px;
  width: 135 px;
}